@keyframes avtoai-assistant-widget-button-click-animation-right {
    0% {
      transform: rotate(0deg) translateX(0) translateY(0);
    }
    100% {
      transform: rotate(-45deg) translateX(18px) translateY(-15px); 
    }
}

@keyframes avtoai-assistant-widget-button-border-click-animation-right {
    0% {
      transform: rotate(0deg) translateX(0) translateY(0);
    }
    100% {
      transform: rotate(-45deg) translateX(18.5px) translateY(-15.5px); 
    }
}

@keyframes avtoai-assistant-widget-button-click-animation-left {
  0% {
    transform: rotate(0deg) translateX(-65px) translateY(0);
  }
  100% {
    transform: rotate(45deg) translateX(-63px) translateY(15px); 
  }
}

@keyframes avtoai-assistant-widget-button-border-click-animation-left {
  0% {
    transform: rotate(0deg) translateX(-65px) translateY(0);
  }
  100% {
    transform: rotate(45deg) translateX(-62.5px) translateY(14.5px); 
  }
}

@keyframes avtoai-assistant-slide-blur {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes avtoai-assistant-slide-drawer-left {
  0% {
    transform: translate(-110%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

@keyframes avtoai-assistant-slide-drawer-right {
  0% {
    transform: translate(110%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

@keyframes avtoai-assistant-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}