:root{
    --avtoai-assistant-colors-scrollbar: #afafaf;
    --avtoai-assistant-chat-app-message-font-size: 16px;
}

.avtoai-assistant-container{
    position: fixed;
    height: 0;
    width: 0;
    top: 0px;
    left: 0px;
    z-index:9999;
    font-family: 'Roboto Slab', sans-serif;
}

.avtoai-assistant-p-text{
    font-size: 16px;
    color: var(--avtoai-assistant-colors-text-color);
    font-weight: bold;
    text-decoration: none;
}

.avtoai-assistant-p-text-shadow{
    font-size: 16px;
    color: var(--avtoai-assistant-colors-text-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--avtoai-assistant-colors-text-shadow);
}
.avtoai-assistant-button-opacity-hover{
    opacity: 0.6;
}

.avtoai-assistant-button-opacity-hover-4{
    opacity: 0.4;
}

.avtoai-assistant-button-opacity-hover:hover, .avtoai-assistant-button-opacity-hover-4:hover{
    opacity: 1;
}

.avtoai-assistant-button-scale-hover{
    transform: scale(1);
    transition: 0.5s transform; 
}

.avtoai-assistant-button-scale-hover:hover{
    transform: scale(1.1);
}

.avtoai-assistant-textarea-scrollbar::-webkit-scrollbar{
    height: 5px;
    width: 5px;
    padding: 1px;
    background: transparent;
}

.avtoai-assistant-textarea-scrollbar::-webkit-scrollbar-track{
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    margin-inline: 0.5rem;
    border-radius: 5px;
}

.avtoai-assistant-textarea-scrollbar::-webkit-scrollbar-thumb {
    background: var(--avtoai-assistant-colors-scrollbar);
    border-radius: 50px;
}




