:root{
    --avtoai-assistant-colors-message-assistant-bg: #f6f6f7;
    --avtoai-assistant-colors-button-hover: #afafaf;
}

.avtoai-assistant-container{
    position: fixed;
    height: 0;
    width: 0;
    top: 0px;
    left: 0px;
    z-index:9999;
    font-family: 'Roboto Slab', sans-serif;
}

.avtoai-assistant-p-text{
    font-size: 16px;
    color: var(--avtoai-assistant-colors-text-color);
    font-weight: bold;
    text-decoration: none;
}

.avtoai-assistant-p-text-shadow{
    font-size: 16px;
    color: var(--avtoai-assistant-colors-text-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--avtoai-assistant-colors-text-shadow);
}

.avtoai-assistant-theme-close-button-container{
    border-radius: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.avtoai-assistant-theme-close-button-container:hover{
    .avtoai-assistant-theme-close-button-cross{
        opacity: 1;
    }
}

.avtoai-assistant-theme-close-button-cross{
    position: absolute;
    opacity: 0.8;
    height: 30px;
    width: 3px;
    background-color: var(--avtoai-assistant-colors-color-theme-text-color);
}

.avtoai-assistant-theme-close-button-cross:nth-child(1) {
    transform: rotate(45deg);
}

.avtoai-assistant-theme-close-button-cross:nth-child(2) {
    transform: rotate(-45deg);
}

