.avtoai-assistant-widget-container{
    position: fixed;
    margin: 0;
    padding: 0;
}

.avtoai-assistant-widget-container-position-bottom-right{
    right: 10px;
    bottom: 10px;
    .avtoai-assistant-chat-bubble-triangle-border{
        left: 1px;
    }
}

.avtoai-assistant-widget-container-position-bottom-left{
    left: 10px;
    bottom: 10px;
    .avtoai-assistant-chat-bubble-triangle-container{
        .avtoai-assistant-chat-bubble-triangle-border{
            transform: translateX(-65px);
            right: 1px;
        }
        .avtoai-assistant-chat-bubble-triangle{
            transform: translateX(-65px);
        }
    }
}

.avtoai-assistant-widget-container-position-top-right{
    right: 10px;
    top: 10px;
    .avtoai-assistant-chat-bubble-triangle-border{
        left: 1px;
    }
}

.avtoai-assistant-widget-container-position-top-left{
    left: 10px;
    top: 10px;
    .avtoai-assistant-chat-bubble-triangle-container{
        .avtoai-assistant-chat-bubble-triangle-border{
            transform: translateX(-65px);
            right: 1px;
        }
        .avtoai-assistant-chat-bubble-triangle{
            transform: translateX(-65px);
        }
    }
}

.avtoai-assistant-chat-bubble-parent-element{
    display:flex;
    position: relative;
    width:80px;
    height:80px;
}

.avtoai-assistant-widget-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avtoai-assistant-chat-bubble-triangle-container{
    position:absolute;
    right:0px;
    display:flex;
    align-items: center;
    height: 100%;
}

.avtoai-assistant-chat-bubble-triangle{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--avtoai-assistant-colors-widget-button-theme);
    position:relative;
    z-index:9999;
}

.avtoai-assistant-chat-bubble-triangle-border {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 12px solid var(--avtoai-assistant-colors-widget-box-border);
    z-index:9997;
}

.avtoai-assistant-chat-bubble-oval{
    width: 75px;
    height: 55px;
    background-color: var(--avtoai-assistant-colors-widget-button-theme);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--avtoai-assistant-colors-widget-box-border);
    cursor: pointer;
    z-index:9998;
}

.avtoai-assistant-chat-bubble-oval:hover{
    width: 80px;
    height: 60px;
}