node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env.prod
.env
.env.avto-test
shopify.app.toml
shopify.app.avto.toml
shopify.app.avto-test.toml
package-lock.json
yarn.lock


