.avtoai-assistant-side-drawer-blur{
    height: 100vh;
    width: 0%;
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0px;
    z-index: -10;
}

.avtoai-assistant-side-drawer{
    height: 95vh;
    width: 30%;
    position: fixed;
    top:50%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--avtoai-assistant-colors-app-theme);
    border: var(--avtoai-assistant-colors-widget-box-border) solid 1px;
    box-shadow: var(--avtoai-assistant-colors-widget-box-shadow) 0px 0px 0.5rem 0px;
}

.avtoai-assistant-chat-header{
    width: 100%;
    height: 15%;
    padding: 1.25rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 50px 50px 0px 0px;
    background-color: var(--avtoai-assistant-colors-color-theme);
    box-shadow: var(--avtoai-assistant-colors-widget-box-shadow) 0px 0px 0.1rem 0.1rem;
}

.avtoai-assistant-chat-menu-container{
    border-radius: 50%;
    width: 50px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.avtoai-assistant-chat-menu-container:hover{
    background-color: #afafaf;
}

.avtoai-assistant-chat-menu-dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: var(--avtoai-assistant-colors-color-theme-text-color);
    margin-right:3px;
}

.avtoai-assistant-chat-title-container{
    height: 50%;
    width: 50%; 
    display: flex;
    padding: 0.5rem;
    align-items: center;
    border-radius: 50px;
    background-color: var(--avtoai-assistant-colors-app-theme);
    box-shadow: var(--avtoai-assistant-colors-widget-box-shadow) 0.1rem 0.1rem;
}

.avtoai-assistant-chat-title-text{
    font-weight: bold;
    flex-grow: 1;
    color: var(--avtoai-assistant-colors-text-color);
    margin-inline: 0.25rem 0.25rem;
}

.avtoai-assistant-chat-section-container{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.avtoai-assistant-action-section-container{
    display: flex;
    align-items: end;
    height: 15%;
    width: 100%;
    padding: 1rem;
}

.avtoai-assistant-actions-starters-button-container{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--avtoai-assistant-colors-color-theme);
    border: var(--avtoai-assistant-colors-widget-box-border) solid 1px;
    box-shadow: var(--avtoai-assistant-colors-widget-box-shadow) 0.1rem 0.1rem;
}

.avtoai-assistant-actions-input-container{
    display: flex;
    flex-grow: 1;
    position: relative;
    left: 0.5rem;
}

.avtoai-assistant-actions-input{
    height: 60px;
    width: 95%;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    padding: 1rem;
    color: var(--avtoai-assistant-colors-color-theme-text-color);
    background-color: var(--avtoai-assistant-colors-color-theme);
    border: var(--avtoai-assistant-colors-widget-box-border) solid 1px;
    box-shadow: var(--avtoai-assistant-colors-widget-box-shadow) 0.1rem 0.1rem;
}