.avtoai-assistant-side-drawer-blur{
    height: 100vh;
    width: 0%;
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0px;
    z-index: -10;
}

.avtoai-assistant-side-drawer{
    height: 95vh;
    width: 500px;
    position: fixed;
    top:50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--avtoai-assistant-colors-app-theme);
    border: var(--avtoai-assistant-colors-widget-box-border) solid 1px;
    box-shadow: var(--avtoai-assistant-colors-text-color) 0px 0px 0px 0.05rem;
}
 .avtoai-assistant-app-settings-switch {
     position: relative;
     display: inline-block;
     width: 50px;
     height: 30px;
 }

 .avtoai-assistant-app-settings-switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 .avtoai-assistant-app-settings-slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: var(--avtoai-assistant-colors-scrollbar);
     border-radius: 25px;
     -webkit-transition: .4s;
     transition: .4s;
 }

 .avtoai-assistant-app-settings-slider:before {
     position: absolute;
     content: "";
     height: 20px;
     width: 20px;
     left: 4px;
     bottom: 4px;
     background-color: var(--avtoai-assistant-colors-app-theme);
     border-radius: 50%;
     -webkit-transition: .4s;
     transition: .4s;
 }

 .avtoai-assistant-app-settings-input:checked+.avtoai-assistant-app-settings-slider {
     background-color: var(--avtoai-assistant-colors-color-theme);
 }

 .avtoai-assistant-app-settings-input:focus+.avtoai-assistant-app-settings-slider {
     box-shadow: 0 0 1px var(--avtoai-assistant-colors-color-theme);
 }

 .avtoai-assistant-app-settings-input:checked+.avtoai-assistant-app-settings-slider:before {
     -webkit-transform: translateX(20px);
     -ms-transform: translateX(20px);
     transform: translateX(20px);
 }
.avtoai-assistant-chat-header{
    z-index: 10;
    height: 75px;
    width: 100%;
    padding: 1.25rem;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--avtoai-assistant-colors-color-theme);
    box-shadow: var(--avtoai-assistant-colors-widget-box-shadow) 0px 0px 0.1rem 0.1rem;
}

.avtoai-assistant-chat-menu-container{
    border-radius: 10px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.avtoai-assistant-chat-menu-container:hover{
    .avtoai-assistant-chat-menu-dot{
        opacity: 1;
    }
}

.avtoai-assistant-chat-menu-dot{
    width:10px;
    height:10px;
    opacity: 0.8;
    border-radius:50%;
    background-color: var(--avtoai-assistant-colors-color-theme-text-color);
    margin-right:3px;
}

.avtoai-assistant-chat-title-container{
    display: flex;
    flex-grow: 1;
    padding-inline: 0.5rem;
    align-items: center;
    justify-content: center;
}

.avtoai-assistant-chat-title-text{
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 30vw;
    color: var(--avtoai-assistant-colors-color-theme-text-color);
    margin-inline: 0.5rem 0.5rem;
    margin-block: 0px;
    font-family: 'Roboto Slab', sans-serif;
}

.avtoai-assistant-action-section-container{
    display: flex;
    align-items: end;
    width: 100%;
    padding: 1rem;
}

.avtoai-assistant-actions-starters-button-container{
    height: 55px;
    width: 55px;
    display: flex;
    cursor: pointer;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    outline: none;
    outline-offset: 0px;
    border-radius: 50%;
    background-color: var(--avtoai-assistant-colors-color-theme);
    border: var(--avtoai-assistant-colors-widget-box-border) solid 1px;
    box-shadow: var(--avtoai-assistant-colors-color-border-shadow) 0.1rem 0.1rem;
    transform: scale(1);
    transition: transform 0.2s;
}

.avtoai-assistant-actions-input-container{
    display: flex;
    flex-grow: 1;
    position: relative;
    left: 0.5rem;
}

.avtoai-assistant-actions-input{
    height: 52px;
    overflow-y: hidden;
    resize: none;
    max-height: 165px;
    width: 99.5%;
    font-size: 16px;
    border-radius: 25px;
    line-height: 1.5rem;
    padding-left: 1em;
    padding-block: 1.1em;
    padding-right: 50px;
    color: var(--avtoai-assistant-colors-text-color);
    background: transparent;
    outline-offset: 0px;
    border: 0.03rem solid var(--avtoai-assistant-colors-color-border-shadow);
}

.avtoai-assistant-actions-input:focus{
    outline: 0.2rem solid var(--avtoai-assistant-colors-color-border-shadow);
}

.avtoai-assistant-actions-starters-button-container:hover{
    opacity: 1;
}

.avtoai-assistant-actions-starters-button-container:active{
    transform: scale(0.9);
}

.avtoai-assistant-actions-input::placeholder{
    color: rgba(var(--avtoai-assistant-colors-color-theme-text-color), 0.6);
}

.avtoai-assistant-actions-send{
    position: absolute;
    opacity: 0.8;
    right: 0;
    bottom: 2px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.avtoai-assistant-actions-send-icon{
    width: 50px;
    height: 50px;
}

.avtoai-assistant-actions-send-enabled{
    cursor: pointer;
}

.avtoai-assistant-actions-send-enabled:hover{
    opacity: 1;
}

.avtoai-assistant-chat-actions-starter{
    opacity: 0.8;
    transform: scale(1);
    transition: transform 0.2s;
}

.avtoai-assistant-chat-actions-starter:hover{
    opacity: 1;
    outline: 1px solid var(--avtoai-assistant-colors-color-border-shadow);
}

.avtoai-assistant-chat-actions-starter:active{
    transform: scale(0.9);
}

.avtoai-assistant-chat-scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    padding: 1px;
    background: transparent;
}

.avtoai-assistant-chat-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin-inline: 0.5rem;
    border-radius: 5px;
}

.avtoai-assistant-chat-scrollbar::-webkit-scrollbar-thumb {
    background: var(--avtoai-assistant-colors-scrollbar);
    border-radius: 5px;
}
:root{
    --avtoai-assistant-colors-scrollbar: #afafaf;
    --avtoai-assistant-chat-app-message-font-size: 16px;
}

.avtoai-assistant-container{
    position: fixed;
    height: 0;
    width: 0;
    top: 0px;
    left: 0px;
    z-index:9999;
    font-family: 'Roboto Slab', sans-serif;
}

.avtoai-assistant-p-text{
    font-size: 16px;
    color: var(--avtoai-assistant-colors-text-color);
    font-weight: bold;
    text-decoration: none;
}

.avtoai-assistant-p-text-shadow{
    font-size: 16px;
    color: var(--avtoai-assistant-colors-text-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--avtoai-assistant-colors-text-shadow);
}
.avtoai-assistant-button-opacity-hover{
    opacity: 0.6;
}

.avtoai-assistant-button-opacity-hover-4{
    opacity: 0.4;
}

.avtoai-assistant-button-opacity-hover:hover, .avtoai-assistant-button-opacity-hover-4:hover{
    opacity: 1;
}

.avtoai-assistant-button-scale-hover{
    transform: scale(1);
    transition: 0.5s transform; 
}

.avtoai-assistant-button-scale-hover:hover{
    transform: scale(1.1);
}

.avtoai-assistant-textarea-scrollbar::-webkit-scrollbar{
    height: 5px;
    width: 5px;
    padding: 1px;
    background: transparent;
}

.avtoai-assistant-textarea-scrollbar::-webkit-scrollbar-track{
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    margin-inline: 0.5rem;
    border-radius: 5px;
}

.avtoai-assistant-textarea-scrollbar::-webkit-scrollbar-thumb {
    background: var(--avtoai-assistant-colors-scrollbar);
    border-radius: 50px;
}





@keyframes avtoai-assistant-widget-button-click-animation-right {
    0% {
      transform: rotate(0deg) translateX(0) translateY(0);
    }
    100% {
      transform: rotate(-45deg) translateX(18px) translateY(-15px); 
    }
}

@keyframes avtoai-assistant-widget-button-border-click-animation-right {
    0% {
      transform: rotate(0deg) translateX(0) translateY(0);
    }
    100% {
      transform: rotate(-45deg) translateX(18.5px) translateY(-15.5px); 
    }
}

@keyframes avtoai-assistant-widget-button-click-animation-left {
  0% {
    transform: rotate(0deg) translateX(-65px) translateY(0);
  }
  100% {
    transform: rotate(45deg) translateX(-63px) translateY(15px); 
  }
}

@keyframes avtoai-assistant-widget-button-border-click-animation-left {
  0% {
    transform: rotate(0deg) translateX(-65px) translateY(0);
  }
  100% {
    transform: rotate(45deg) translateX(-62.5px) translateY(14.5px); 
  }
}

@keyframes avtoai-assistant-slide-blur {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes avtoai-assistant-slide-drawer-left {
  0% {
    transform: translate(-110%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

@keyframes avtoai-assistant-slide-drawer-right {
  0% {
    transform: translate(110%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

@keyframes avtoai-assistant-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
@media screen and (max-width: 1280px) {
    .avtoai-assistant-side-drawer{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .avtoai-assistant-side-drawer{
        width: 98%;
        left: 5px;
    }
}

@media screen and (max-width: 480px) {
    .avtoai-assistant-actions-input{
        height: 40px;
        padding-block: 0.7em;
    }
    .avtoai-assistant-actions-send{
        bottom: 0px;
    }
    .avtoai-assistant-actions-send-icon{
        width: 40px;
        height: 40px;
    }

    .avtoai-assistant-actions-starters-button-container{
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-height: 768px){
    .avtoai-assistant-actions-input{
        height: 40px;
    }

    .avtoai-assistant-actions-starters-button-container{
        height: 40px;
        width: 40px;
    }
}

